body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

body a {
  color: #1111cc;
}

.google-logo {
  background-repeat: no-repeat;
  background-image: url("../images/logo.png");
  padding: 48.5px;
  width: 276px;
  height: 96px;
}

div.navs {
  padding: 4px 8px 4px 8px;
  border-bottom: 1px solid #c9d7f1;
}

div.navs a {
  color: #0000cc;
}

div.navs > ul li {
  display: inline;
}

div .search-options > ul li {
  display: inline-block;
}

.input-wrapper input {
  width: 512px;
  height: 32px;
}

.extended-options {
  display: inline-block;
}

.button-wrapper input {
}
.button-wrapper {
  padding: 0 6px 0 6px;
  border-width: 1px solid #cccccc #999999 #cccccc;
  font-family: Arial, sans-serif;
  font-size: 15px;
  -moz-box-sizing: content-box;
}
