body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
   color: #1111CC; 
}

a:hover {
  text-decoration-line: underline;
}

.google-logo {
  background-repeat: no-repeat;
  background-image: url("../images/logo.png");
  width: 276px;
  height: 96px;
  left: 214px;
  top: 71px;
}

#Ch {
position: relative;
left: 214px;
top: 71px;
}

#container {
  position: relative;
  left: 460px;
  top: 100px;
  padding: 48.5px;
}

div.navs {
  padding: 4px 8px 4px 8px;
  border-bottom: 1px solid #c9d7f1;
}

div.navs a {
  color: #0000CC;
  text-decoration: underline;
  position: relative;
}

div.navs > ul li {
  display: inline;
}

#search-types li{
  padding: 10.5px;
}

#search-form {
  position: relative;
  top: 150px;
  left: 200px;
}

#tx_box {
  width: 512px;
  height: 32px;
  padding: 5px 8px 0px 6px;
  border: 1px solid;
  border-top-color: #CCCCCC;
  border-right-color:#999999;
  border-left-color: #CCCCCC;
  border-bottom-color: #999999;
  font-family: 'Arial, Sans-serif';
  font-size: 18PX;
  font-weight: bold;
}

div .search-options > ul li {
  display: inline-block;
  position: relative;
  float: right;
  top: -22;
  right: 5px;
}

#busqueda{
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 13px;
}

#herramientas {
  list-style:none;
  padding-left: 13px;
}

.extended-options{
  font-size: 11px;
}

.extended-options a{
   color: #4272DB;
}

.input-wrapper {
  position: relative;
  left: 180px;
  top: -50px;
}

.input-wrapper input {

}
.extended-options {
  display: inline-block;
}

.button-wrapper input {
  top: 8px;
  height: 30px;
  position: relative;
  left: 135px;
}

.button-wrapper {
  padding: 0 6px 0 6px;
  border-width: 1px solid #cccccc #999999 #cccccc;
  font-family: Arial, sans-serif;
  font-size: 15px;
  -moz-box-sizing: content-box;
}

.language {
  padding-top: 41px;
}

.footer-navBar {
  top: 135px;
  position: relative;
}

#style {
  float: left;
  list-style: none;
  display:inline;
     padding-left:3px;
     padding-right:24px;
}
